<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur5">
  <!-- common stuff -->
  <xacro:include filename="$(find ur_description)/urdf/gazebo.urdf.xacro"/>
  <!-- ur5 -->
  <xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro"/>
  <!--asus camera-->
  <xacro:include filename="$(find hector_sensors_description)/urdf/asus_camera.urdf.xacro"/>
  <xacro:asus_camera name="camera" parent="ee_link">
    <origin xyz="-0.0374273994792 -0.0595613873455 0.0735889802814" rpy="0.752115280096 -0.169022608744 -0.21601697481"/>
  </xacro:asus_camera>
  <!-- arm -->
  <xacro:ur5_robot prefix="" joint_limited="true"/>
  <link name="world"/>
  <joint name="world_joint" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0.0 0.0 0.98" rpy="0.0 0.0 0.0"/>
    <!--<origin xyz="0.0 0.0 0." rpy="0.0 0.0 0.0"/>-->
  </joint>
</robot>
