<?xml version="1.0"?>
<!--This will create a demo that will show an octomap being built while the robot is manualy moved around-->
<launch>
  <!-- robot_ip: IP-address of the robot's socket-messaging server -->
  <!--<arg name="robot_ip" default="192.168.1.102"/>-->
  <!-- ur common -->
  <include file="$(find point_cloud_spatial_filter)/launch/bringup.launch">
    <arg name="camera" value="camera"/>
  </include>

  <include file="$(find ur5_with_asus_bringup)/launch/ur5_with_asus_bringup.launch">
    <arg name="data_skip" value="1"/>
    <arg name="ir_mode" value="8"/>
    <arg name="color_mode" value="8"/>
    <arg name="depth_mode" value="8"/>
  </include>
  <include file="$(find world_model_consistency_check)/launch/octomap_server.launch">
    <arg name="point_cloud_in" value="point_cloud_filter/points"/>
    <arg name="frame_id" value="/world"/>
  </include>
  <node name="rviz" pkg="rviz" type="rviz" args="--display-config $(find ur5_with_asus_bringup)/cfg/demo_octomap.rviz" required="true"/>
</launch>
