<?xml version="1.0"?>
<launch>
  <arg name="model_pcd" default="output.pcd"/>
  <!-- robot_ip: IP-address of the robot's socket-messaging server -->
  <!--<arg name="robot_ip" default="192.168.1.102"/>-->
  <!-- ur common -->
  <include file="$(find point_cloud_spatial_filter)/launch/bringup.launch">
    <arg name="camera" value="camera"/>
  </include>
  <!--<include file="$(find ur5_with_asus_bringup)/launch/ur5_with_asus_bringup.launch">-->
  <!--<arg name="data_skip" value="1"/>-->
  <!--<arg name="ir_mode" value="8"/>-->
  <!--<arg name="color_mode" value="8"/>-->
  <!--<arg name="depth_mode" value="8"/>-->
  <!--</include>-->
  <include file="$(find world_model_consistency_check)/launch/octomap_server.launch">
    <arg name="point_cloud_in" value="point_cloud_filter/points"/>
    <arg name="frame_id" value="/world"/>
  </include>
  <node name="compare_octrees" pkg="world_model_consistency_check" type="compare_octrees" output="screen">
    <param name="topic_target" value="/octomap_full"/>
    <param name="depth" value="16"/>
    <param name="volume_threshold" value="0.1"/>
    <param name="use_regions" value="true"/>
    <remap from="/camera/depth_registered/points" to="/point_cloud_filter/points"/>
    <!--<remap from="/camera/depth_registered/points" to="/camera/depth_registered/points"/>-->
  </node>
  <include file="$(find ur5_with_asus_calibration)/launch/publish_false_tf_jarvis.launch">
  </include>
  <include file="$(find ur5_with_asus_calibration)/launch/publish_false_tf_map_to_world.launch">
  </include>
  <node pkg="interactive_region_definition" type="define_regions" name="interactive_region_definition" output="screen">
    <rosparam command="load" file="$(find interactive_region_definition)/params/default.yaml"/>
  </node>
  <node pkg="world_model_consistency_check" type="pcd2pointcloud" name="pcd2pointcloud" output="screen">
    <param name="~input" value="$(env HOME)/$(arg model_pcd)"/>
    <param name="~output" value="/model/points"/>
  </node>
  <!--<node name="rviz" pkg="rviz" type="rviz" args="-display-config $(find ur5_with_asus_bringup)/cfg/model_check.rviz" required="true"/>-->
  <!--<node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure">-->
  <!--</node>-->
</launch>
